*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#birdy{
    position: absolute;
    display: none;
    width: 500px;
    height: 500px;
}
#birdy2{
    position: absolute;
    display: none;
    width: 500px;
    height: 500px;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
#id{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}
#id2{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;    
    cursor: pointer;
    background-color: transparent;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url(pictures/heaven.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}
.image{
    display: flex;
    justify-content: center;
}
.zaragosa{
    position: relative;
    border: #000000 8px outset;
    width: 150px;
    height: 150x;
}
.a{
    position: relative;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.abc{
    position: relative;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.ab{
    position: relative;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}
#background2{
width: 100%;
height: 100vh;
background-image: url(pictures/wood.jpg);
background-position: center;
background-size: cover;
position: absolute;
display: none;
}
#more{
    cursor: pointer;
    position: absolute;
    bottom: 8px;
  right: 16px;
  font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}
.book{
    margin-top: 80px;
    margin-left: 200px;
    width: 200px;
    height: 200px;
    position: absolute;
}
.text{
    margin-left: 400px;
    margin-top: 200px;
    color: white;
    font-size: 21px;
text-shadow: 2px 2px hsl(0, 0%, 0%);
}
.game{
    margin-left: 850px;
    margin-top: 3px;
    position: absolute;
}
.text2{
    margin-left: 550px;
    margin-top: 50px;
    color: white;
    font-size: 21px;
text-shadow: 2px 2px hsl(0, 0%, 0%);
}
.sleep{
    width: 250px;
    height: 250px;
    margin-top: -50px;
    margin-left: 150px;
    position: absolute;
}
.text3{
    margin-left: 380px;
    margin-top: 50px;
    color: white;
    font-size: 21px;
text-shadow: 2px 2px hsl(0, 0%, 0%);
}
#mp3{
    color: transparent;
    margin-left: 100px;
    position: absolute;
    width: 200px;
height: 30px;
}