*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: PopLight;
    src: url("Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: PopRegular;
    src: url("Poppins/Poppins-Regular.ttf");
}
body {
    font-family: PopLight;
}
.pict{
    color: rgb(255, 255, 255);
    background: radial-gradient(rgb(5, 12, 73),rgb(19, 15, 135));
}
.left{
    width: 150px;
    height: 350px;
}
.right{
    width: 200px;
    height: 500px;
}
.abc{
    display: flex;
}
.nav{
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.poo{
    width: 100px;
    height: 100px;
}
.group{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.profile {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}
.hero{
    overflow: hidden;
    height: 250;
    align-self: center;
    justify-self: center;
    display: flex;
}
.hero img{
    height: 500px;
    transition: transform 0.4s ease-out;
    cursor: pointer;
}
.right{
transform: translate(0%, 10%);
}
.hero:hover .right{
    transform: translate(0%, 0%);
}
.left{
    transform: translate(0%,-10%);
}
.hero:hover .left{
    transform: translate(0%, 0%);
}

.details{
    grid-column: 2/3;
    align-self: end;
}
.details h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: PopRegular;
}
.details h2{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px 0px;
}
.details h5{
    font-size: 20px;
    padding: 20px 0px;
}
.details p{
    font-size: 18px;
    padding: 8px 0px 32px 0px;
}